.new-post-header {
	margin-top: 20px;
	margin-bottom: 20px;
  border-bottom: 3px solid #3498db;
}

.form-label {
	font-weight: bold;
}

.form-field-error {
	color: red;
}

.form-buttons {
	padding: 5px;
	margin: 2px;
}

.loader {
	/* center the loader */
	position: absolute;
	left: 50%;
	top: 50%;
	/* loader properties */
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.index-button {
  margin: 10px;
}

.posts-title {
  border-bottom: 3px solid #3498db;
  margin-bottom: 10px;
}

.posts-index-headers {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.posts-categories-header {
  text-align: right;
}

.posts-content-title {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid #3498db;
}